<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPACT | Edit Profile</title>
    <%- include('../partials/style') %>

</head>
<body class="userEdit">
<%- include('../partials/nav') %>
    <h1>Edit Your Profile</h1>
    <img src="<%= foundUser.imageLink %>" id="profilePicture" alt="User Profile Picture">
    <h2> <%= foundUser.username %> </h2>

    <form action="/users/<%= foundUser.id %>?_method=PUT" method="POST">
        Profile Picture: <input type="url" name="imageLink" value="<%= foundUser.imageLink %>"> <br>
        Username: <input type="text" name="username" value="<%= foundUser.username %>"><br>
        Location: <input type="text" name="location" value="<%= foundUser.location %>"><br>
        Passions: <input type="text" name="passions" value="<%= foundUser.passions %>"><br>
        <input type="submit" value="Update Profile">
    </form>
    <form action="/users/<%= foundUser.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Profile">
    </form>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>