<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPACT | Profile</title>
</head>
<body class="userProfile">
    <div class="navhome">
        <a href="/">HOME</a>
    </div>
    <div class="navlogin">
        <% if (!user) { %>
            <a href="/auth/login">LOGIN/REGISTER</a>
        <% } else { %>
        <form action="/auth/logout?_method=DELETE" method="POST"><input type="submit" value="Logout"></form>
        <% } %>
    </div>
<%- include('../partials/nav') %>

    <img src="<%= foundUser.imageLink %>" id="profilePicture" alt="User Profile Picture">
    <div class="profileDetails">
        Name: <%= foundUser.username %> <br>
        Location: <%= foundUser.location %><br>
        Passions: <%= foundUser.passions %><br>
        Member Since: <%= foundUser.createdAt %><br>
        <% if(user) { %>
            <a href="/users/<%= foundUser._id %>/edit">Edit Profile</a>
        <% } %>
    </div>
    <div class="userContributions">
        <h4><%= foundUser.username %>'s Contributions</h4>
        <% foundUser.products.forEach(product => { %>
            <li>
                <a href="<%= product.productLink %>"><%= product.title %></a>
            </li>
       <% }) %>
    </div>
</body>
</html>