<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPACT | Profile</title>
    <%- include('../partials/style') %>

</head>
<body class="solidBody">
<%- include('../partials/nav') %>

<div class="profileHeader">
   <h2><%= foundUser.username %>'s Profile </h2>
</div>

<div class="flex-container">
    <div class="card" style="width: 25rem;">
    <img src="<%= foundUser.imageLink %>" class="card-img-top" id="profilePicture" alt="User Profile Picture">
    <div class="card-body" id="profileItems">
       <h5> Name: <span class="nameCard"> <%= foundUser.username %> </span></h5>
       <h5>Location:<span class="nameCard"> <%= foundUser.location %> </span></h5>
        <h5>Passions:<span class="nameCard"> <%= foundUser.passions %></span></h5>
        <h5> Member Since:<span class="nameCard"> <%= foundUser.createdAt %></span></h5>
        <% if(user) { %>
            <a id="editProfile" href="/users/<%= foundUser._id %>/edit">Edit Profile</a>
        <% } %>
        </div>
    </div>
</div>


<div class="flex-container">

        <% foundUser.products.forEach(product => { %>
            <div class="card" style="width: 15rem;">
                <a href="<%= product.productLink %>"><img src="<%= product.imageLink %>" class="card-img-top"></a>
                <div class="card-body">
                    <a id="productTitleLink" href="<%= product.productLink %>"><h6><%= product.title %></h6></a>
                  <div class="d-flex justify-content-between align-items-center">
                        <a href="/products/<%= product._id %>/edit" class= "btn btn-primary" id="profileProduct">Edit</a>
                    </div>
                </div>
                <small class="text-muted"><%= product.category %></small>
            </div>
        <% }) %>
</div>
</body>
</html>