<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= products.category %> Products</title>
    <%- include('../partials/style') %>

</head>
<body>
<%- include('../partials/nav') %>
    <h1><%= products.category %> Products</h1>

    <% for (let i=0; i < products.length; i++ ) { %>
        <div class="productsMedia">
            <div class="productsMediaTop">
                <img class="productImage" src="<%= products[i].imageLink %>">
            </div>
            <div class="productDetail">
                <img src="<%= products.imageLink %>"><br>
                <%= products[i].title %><br>
                <%= products[i].price %><br>
                <%= products[i].description %><br>
                <%= products[i].user %><br>
            </div>
        </div>
    <% } %>
    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>